* {
  border: none;
  border-radius: 0;
  font-family: SF Mono, monospace;
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background: #000000;
  color: white;
}

#cpu, #clock, #memory {
  padding: 0 10px;
}
